* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

section {
  min-height: 100vh;
  scroll-snap-align: start;
  position: relative;
  padding: 128px 128px 128px;
}

h2 {
  font-size: 56px;
  line-height: 52px;
  text-transform: uppercase;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
}

h2 span.line {
  display: block;
}

section p,
section ol > li {
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 10px 0;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 35px;
    line-height: 32px;
  }
  section {
    padding: 128px 32px 128px;
  }
  section p,
  section ol > li {
    font-size: 17px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.color-youtube {
  color: #ff0000;
}

.color-telegram {
  color: #0088cc;
}

.blink {
  animation: blink 2s ease-in-out infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
